<html>
<head>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static "takeaway/login.css" %}">
</head>
  <body>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{% static "takeaway/login.js" %}"></script>

<div class="container" style="top: 100px;">
  <div id="sync" class="center">
<form action="{% url 'handlelogin'  %}" method="post" name="login_form" id="login_form"> {% csrf_token %}
<input id="new_user" class="new_user" type="button" value="I am a new user" lang="en-US" style="top: 13px;">
  <span>  </span><br/>
  <input name="Username" autocorrect="off" autocapitalize="off" spellcheck="false" class="email" placeholder="Email" lang="en-US" style="top: 93px;"><br/>
  <input name="Password" type="password" class="password" placeholder="Password" lang="en-US" style="top: 123px;">
  <input id ="mode" name="Mode" type="hidden" value="login" />
    <input type="submit" class="login" value="login" style="top: 150px;"/>
  </form>
   </div>
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  </body>
</html>
