<!DOCTYPE html>
{% extends 'basedetail.html' %}
{% load staticfiles %}
<script src="{% static "takeaway/take_away_detail.js" %}"></script>
{% block content %}
                      <div class="row marketing" >
                      <div class="col-md-2 col-md-offset-1">
                      <h3><a href="{% url 'course_detail' course.id %}"> {{ course.course_name }} </a> </h3>
                      </div>
                      <div class="col-md-2 col-md-offset-1">
                      <h3   align="center" ><a href="{% url 'personal_course_detail' course.id %}">Your Personalized Notes</a></h3>
                      </div>
                      <div class="col-md-2 col-md-offset-1">
                      <h3><a href="{% url 'public_course_detail' course.id %}"> Classmate's Notes</a> </h3>

                      </div>
                      <div class="col-md-2 col-md-offset-1">
                      <h3><a href="{% url 'course_detail' course.id %}"> Create a takeaway </a> </h3>

                      </div>

                       </div>

                          <!-- <div class="input-xlarge">
                              <!--<div class="input-group input-group-lg">-->

                        </div>

                         <!--<div class="row marketing" >-->


                             <div class="accordion-expand-holder">
                                <button id="expand" type="button" class="open">Expand all</button>
                                <button id="collapse" type="button" class="collapse1">Collapse all</button>
                               </div>

                             <div class="panel-group" id="accordion">
                              <!-- <ul class="list-group"> -->

                              <ul>
                                   {% for session, session_notes in sessions_map.items %}
                                   <li class="list-group-item">
                                     <div class="panel panel-default">

                                        <div class="panel-heading">
                                          <h4 class="panel-title" >
                                        <a class="ui-accordion-header ui-state-default ui-accordion-icons ui-accordion-header-active ui-state-active ui-corner-top" data-toggle="collapse" data-parent="#accordion" href="#session{{session.id}}"> {{session}}</a>
                                      </h4>
                                      </div>
                                          <div id="session{{session.id}}" class="panel-collapse collapse">
                                   <!--<div class="col-md-8 col-md-offset-1">-->
                                            <div class="panel-body">
                                   {%for notes in session_notes %}

                                    <p  style="border: 1px solid #ddd;padding-left:10px;padding-top:5px" align="left"> {{ notes.notes|linebreaks }}
                                    - by {{ notes.user }} <span id="votecount{{ notes.id}}" class="badge">{{notes.vote_count}}</span>
                                    <!--{% if user == notes.user %}-->
                                    <button class="btn-group btn-success" id="make_public{{ notes.id}}" onclick="make_public1({{ notes.id}},'make_public{{ notes.id}}')" >
                                        {% if notes.is_public %} Make Private   {% else  %} Make Public {%  endif  %}</button>


                                    <!--{%  endif  %}-->
                                    {% if user != notes.user %}
                                    <button id="thumbsup{{ notes.id}}" name="foo" value="bar" onclick="vote({{ notes.id}},'thumbsup{{ notes.id}}',1)" style="float:right">
                                        <img src="{% static "takeaway/media/64.png" %}" alt="submit"
                                             height="30" width="30"  />
                                    </button>
                                    {%  endif  %}
                                    <!--{% if user = notes.user %}-->
                                    <button id="delete{{ notes.id}}" name="foo" value="bar" onclick="deleteNotes({{ notes.id}})">
                                        <img src="{% static "takeaway/media/delete.jpg" %}" alt="submit"
                                             height="30" width="30"/>
                                    </button>
                                   <!-- {%  endif  %} -->
                                    </p>


                                   <!--</div>-->
                                   {% endfor %}
                                 </div>
                               </div>
                               </li>

                            {% endfor %}
                          </ul>

                             <!-- </ul>-->

                             </div>
                         <!--</div>-->

               <script  type="text/javascript">
                   // Accordion - Expand All #01
                   $(document).ready(function() {
    //alert('expandall');
          $("#expand").click(function(){
              $('.panel-collapse').collapse('show');
          });

           $("#collapse").click(function(){
              $('.panel-collapse').collapse('hide');
          });

      });

//$(function () {

</script>

                 {% endblock %}


</html>
