<!DOCTYPE html>
{% extends 'basedetail.html' %}
{% load staticfiles %}
{% block content %}


                      <div class="row marketing" >
                      <div class="col-md-2 col-sm-offset-1" >
                      <h3><a href="{% url 'public_course_detail' course.id %}"> {{ course.course_name }} </a> </h3>
                      </div>
                      <div class="col-md-4 col-sm-offset-1">
                      <h3   align="center" ><a href="{% url 'session_detail' session.id %}">{{ session.session_name }}</a></h3>
                      </div>
                      <div class="col-md-2 col-sm-offset-1">
                      <h3><a href="{% url 'public_course_detail' course.id %}"> Classmate's Notes</a> </h3>
                      </div>
                      <div class="col-md-2 col-sm-offset-1">
                      <h3><a href="{% url 'personal_course_detail' course.id %}"> Personal Notes</a> </h3>
                      </div>
                       </div>

                           <div class="input-xlarge">
                              <!--<div class="input-group input-group-lg">-->
                              <form action="{% url 'save_notes'  %}" class="input-group input-group-lg" method="post"> {% csrf_token %}
                                  <input type="hidden"  name="session.id"  value="{{ session.id }}" />
                                  <!--<input type="hidden"  name="session.id"  value="${sessionInstance?.id}" />
                                  <input type="hidden"  name="user.id"  value="1" />-->
                              <textarea class="col-xs-12" name="text"  ></textarea>
                              <!--<input type="textarea" name="text"  class="form-control" >--> <!--class="form-control"-->
                              <span class="input-group-addon"><button class="btn-group btn-success" type="submit" name="create" value="Create">post</button></span>
                              </input>
                              </form>
                        </div>

                         <!--<div class="row marketing" >-->


                               <ul class="list-group">

                                   {% for notes in sessions_notes_list %}
                               <li class="list-group-item" id="P_{{ notes.id}}">

                                   <!--<div class="col-md-8 col-md-offset-1">-->

                                    <!--<p   align="center" >-->

                                       <div id="{{ notes.id}}" class="editableNotes" >{{ notes.notes |linebreaks }} </div>
                                       - by {{ notes.user }} <span id="votecount{{ notes.id}}" class="badge">{{notes.vote_count}}</span>
                                    {% if user = notes.user %}
                                    <button class="btn-group btn-success" id="make_public{{ notes.id}}" onclick="make_public1({{ notes.id}},'make_public{{ notes.id}}')" >
                                        {% if notes.is_public %} Make Private   {% else  %} Make Public {%  endif  %}</button>


                                    {%  endif  %}
                                    <button id="thumbsup{{ notes.id}}" name="foo" value="bar" onclick="vote({{ notes.id}},'thumbsup{{ notes.id}}',1)" >
                                       <!-- <img src="{% static "takeaway/media/32.png" %}" alt="submit"
                                             height="30" width="30" /> -->
                                    <span class="glyphicon glyphicon-thumbs-up"></span>
                                    </button>
                                    {% if user = notes.user %}
                                    <button id="delete{{ notes.id}}" name="foo" value="bar" onclick="deleteNotes({{ notes.id}})">
                                        <img src="{% static "takeaway/media/delete.jpg" %}" alt="submit"
                                             height="30" width="30"/>
                                    </button>
                                    {%  endif  %}
                                   <!-- </p> -->

                                   <!--</div>-->
                               </li>

                            {% endfor %}


                              </ul>
                         <!--</div>-->

 <script type="text/javascript">


//var csrftoken = getCookie('csrftoken');



   // Accordion - Expand All #01
$(function () {
    $("#accordion").accordion({
        collapsible:true,
        active:false
    });
    var icons = $( "#accordion" ).accordion( "option", "icons" );
    $('.open').click(function () {
        $('.ui-accordion-header').removeClass('ui-corner-all').addClass('ui-accordion-header-active ui-state-active ui-corner-top').attr({
            'aria-selected': 'true',
            'tabindex': '0'
        });
        $('.ui-accordion-header-icon').removeClass(icons.header).addClass(icons.headerSelected);
        $('.ui-accordion-content').addClass('ui-accordion-content-active').attr({
            'aria-expanded': 'true',
            'aria-hidden': 'false'
        }).show();
        $(this).attr("disabled","disabled");
        $('.close').removeAttr("disabled");
    });
    $('.close').click(function () {
        $('.ui-accordion-header').removeClass('ui-accordion-header-active ui-state-active ui-corner-top').addClass('ui-corner-all').attr({
            'aria-selected': 'false',
            'tabindex': '-1'
        });
        $('.ui-accordion-header-icon').removeClass(icons.headerSelected).addClass(icons.header);
        $('.ui-accordion-content').removeClass('ui-accordion-content-active').attr({
            'aria-expanded': 'false',
            'aria-hidden': 'true'
        }).hide();
        $(this).attr("disabled","disabled");
        $('.open').removeAttr("disabled");
    });
    $('.ui-accordion-header').click(function () {
        $('.open').removeAttr("disabled");
        $('.close').removeAttr("disabled");

    });
});


</script>

                 {% endblock %}



