<!DOCTYPE html>
{% extends 'basedetail.html' %}

{% block content %}
                      <div class="row marketing" >
                      <div class="col-md-2 col-md-offset-1">
                      <h3><a href="{% url 'course_detail' course.id %}"> {{ course.course_name }} </a> </h3>
                      </div>
                      <div class="col-md-4 col-md-offset-1">
                      <h3   align="center" >{{ session.session_name }}</h3>
                      </div>
                      <div class="col-md-2 col-md-offset-1">
                      <h3><a href="{% url 'session_detailall' session.id %}"> Classmate's Notes</a> </h3>
                      </div>
                       </div>    
                           
                           <div class="input-xlarge">
                              <!--<div class="input-group input-group-lg">-->
                              <form action="{% url 'save_notes'  %}" class="input-group input-group-lg" method="post"> {% csrf_token %}
                                  <input type="hidden"  name="session.id"  value="{{ session.id }}" />
                                  <!--<input type="hidden"  name="session.id"  value="${sessionInstance?.id}" />
                                  <input type="hidden"  name="user.id"  value="1" />-->
                              <textarea class="col-xs-12" name="text"  ></textarea>
                              <!--<input type="textarea" name="text"  class="form-control" >--> <!--class="form-control"-->
                              <span class="input-group-addon"><button class="btn-group btn-success" type="submit" name="create" value="Create">post</button></span>
                              </input>
                              </form>
                        </div>
                           
                         <!--<div class="row marketing" >-->
                               
                        
                               <ul class="list-group"> 
                               
                                   {% for notes in sessions_notes_list %}
                               <li class="list-group-item">
                              
                                   <!--<div class="col-md-8 col-md-offset-1">-->
                                    
                                    <p   align="center">{{ notes.notes|linebreaks }}  - by {{ notes.user }} <span class="badge">14</span><button class="btn-group" type="submit" name="create" value="Create">Make this Public</button> </p> 
                                    
                                   <!--</div>-->
                               </li>
                              
                            {% endfor %}
                                   
                               
                              </ul>
                         <!--</div>-->
                              
                          
                           
                 {% endblock %}
                 
               
</html>
